.experience__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 55%;
}
.experience__card {
  background-color: var(--color-bg-variant-2);
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.experience__card h4 {
  color: var(--color-light);
}
.expereince__desc {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.expereince__desc :first-child {
  margin-top: 5px;
}

.expereince__desc div {
  margin-left: 8px;
}

@media screen and (max-width: 1250px) {
  .experience__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*=================== MEDIA QUERIES (SMALL DEVICES) ===================*/

@media screen and (max-width: 800px) {
  .experience__grid {
    width: 90%;
  }
}
