#experience > h2 {
  margin-bottom: 1.3rem;
}

.carousel__container {
  display: flex;
  justify-content: center;
}

.carousel__content {
  width: 60%;
  height: 650px;
  margin: 0;
}

.education__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.experience__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .carousel__content {
    width: 90%;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .carousel__content {
    height: 580px;
  }
}
